{% extends 'pages/members/base.html' %}

{% block content %}

	<h1>{{ domain.name }}</h1>

	<form method='POST'>
	{% csrf_token %}

		<table class='entryTable'>
			<thead>
				<tr class='heading'>
					<th colspan='2'>Add an MX Record</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Mail Server</td>
					<td><input name='name' type='text'></td>
				</tr>
				<tr>
					<td>Preference</td>
					<td><input name='preference' type='text'></td>
				</tr>
				<tr>
					<td>Subdomain</td>
					<td><input name='value' type='text'></td>
				</tr>
				<tr>
					<td>TTL</td>
					<td>
						{% include 'pages/members/support/ttl_select.html' with name='ttl' %}
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><button type='submit'>Add the Record &raquo;</button></td>
				</tr>
			</tbody>
		</table>

	</form>

{% endblock %}

