{% extends 'pages/members/base.html' %}

{% block content %}

	<h1>{{ domain.name }}</h1>

	<form method='POST'>
	{% csrf_token %}

		<table class='entryTable'>
			<thead>
				<tr class='heading'>
					<th colspan='2'>Edit the MX Record</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Mail Server</td>
					<td><input name='name' type='text' value='{{ resource.name }}'></td>
				</tr>
				<tr>
					<td>Preference</td>
					<td><input name='preference' type='text' value='{{ resource.preference }}'></td>
				</tr>
					<tr>
					<td>Subdomain</td>
					<td><input name='value' type='text' value='{{ resource.value }}'></td>
				</tr>
				<tr>
					<td>TTL</td>
					<td>
						{% include 'pages/members/support/ttl_select.html' with name='ttl' val=resource.ttl %}
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><button type='submit'>Save MX Record &raquo;</button></td>
				</tr>
			</tbody>
		</table>

	</form>

{% endblock %}

