{% extends 'pages/public/base.html' %}


{% block content %}

<div class="row">

	<div class="span6">

		<div>
			<h1>Authenticate</h1>
			<br/>
		</div>


		<div>

			{% include 'pages/support/message_box.html' %}

			<form class="form-inline" action="{% url goji-public-authenticate %}" method="POST">
				{% csrf_token %}

				<div>
					<input type="text" class="input-xlarge" name="code" id="code" placeholder="Authentication Code" value="{%if form.code.value %}{{ form.code.value }}{%endif%}" />
					<button type="submit" class="btn btn-primary">Authenticate</button>

				</div>
			</form>

			<div>
				<a href="{% url goji-public-resend-authentication %}">Resend authentication code?</a>
			</div>
		</div>
	</div>

	<div class="span5">
		<div class='well'>
			<h3>Registration Process</h3>
			<br/>
			<style> a.myclean,a.myclean:hover { text-decoration: none; } </style>
			<p>	<a class="myclean" href='{% url goji-public-register %}'><span class="badge badge-success">Step 1</span> Register</a></p>
			<p>	<a class="myclean"  href='{% url goji-public-authenticate %}'><span class="badge badge-info">Step 2</span> Authenticate your email address</a></p>
			<p>	<a  class="myclean" href='{% url goji-public-login %}'><span class="badge">Step 3</span> Login</a> </p>
		</div>
	</div>



</div>

{% endblock %}

