<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="{% url goji-public-index %}">GojiDNS</a>

			<ul class="nav">
				<li class="divider-vertical"></li>
				<li><a href='{% url goji-public-features %}'>Features</a></li>
				<li><a href='{% url goji-public-register %}'>Register</a></li>
			</ul>


			<ul class="nav pull-right">
				{% if request.user.is_authenticated %}
				<li><a href="{% url goji-domain-list %}">Your Zones</a></li>
				<li><a href="{% url goji-public-logout %}">Logout</a></li>
				{% else %}
				<li><a href="{% url goji-public-login %}">Login</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
