{% extends 'pages/public/base.html' %}


{% block content %}

<div class="row">

	<div class="span6">

		<div>
			<h1>Reset Password</h1>
			<br/>
		</div>


		<div>

			{% include 'pages/support/message_box.html' %}

			<form class="form-inline" action="{% url goji-public-reset-password %}" method="POST">
				{% csrf_token %}

				<div>
					<input type="text" class="input-xlarge" name="email" id="email" placeholder="Email Address" />
					<button type="submit" class="btn btn-primary">Reset Password</button>

				</div>
			</form>
		</div>
	</div>

	<div class="span5 well">
		<h3>Awesomeness</h3>
		<p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
		<p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
		<br/>
		<style> a.myclean,a.myclean:hover { text-decoration: none; } </style>
		<p>	<a class="myclean" href='{% url goji-public-register %}'><span class="badge badge-success">Step 1</span> Register</a></p>
		<p>	<a class="myclean"  href='{% url goji-public-authenticate %}'><span class="badge badge-info">Step 2</span> Authenticate your email address</a></p>
		<p>	<a  class="myclean" href='{% url goji-public-login %}'><span class="badge">Step 3</span> Login</a> </p>
	</div>



</div>

{% endblock %}

