/* -------- Body ---------------------------- */


html, body {
	height: 100%;
}

/* So that top menu doesn't hide anything. */
body {
	position: relative;
}

/* So that top menu doesn't form a gap on small screens */
@media (max-width: 979px) {
	body {
		padding-top: 0px;
	}
}


#wrap {
	min-height: 100%;
	position: relative;
}

#main_buffer {
	visible: hidden;
	overflow: hidden;
	height: 0px;
}

#main {
	margin-top: 68px;
}


/* --------------- BOOTSTRAP OVERRIDES ---------------- */

form legend {
	color: darkgreen;
	text-align: right;
}


/* --------------- APP VIEW ---------------- */


.gas_top_spaced { margin-top: 15px; }
.gas_top_dbl_spaced { margin-top: 30px; }
.gas_bottom_spaced { margin-bottom: 15px; }
.gas_bottom_dbl_spaced { margin-bottom: 30px; }

.gas_left_text { text-align: left; }
.gas_center_text { text-align: center; }
.gas_right_text { text-align: right; }

.gas_heading {
	margin: 30px 0px;
}

.gas_heading a {
	text-decoration: none;
	color: inherit;
}

.gas_heading .l1 {
	font-size: 30px;
}

.gas_heading .l2 {
	font-size: 24px;
}

.gas_heading .l3 {
	font-size: 18px;
}



