{% extends 'pages/members/base.html' %}

{% block content %}

<div class='row'>
<div class='span12'>
	<div class='gas_heading'>
		<span class='l1'><a href='{% url goji-domain-list %}'>Your Zones</a></span>
		<span class='l2'> &gt; <a href='{% url goji-domain domain.name %}'>{{ domain.name }}</a></span>
		<span class='l3'> &gt; {% block add_description %}{% endblock %}</span>
	</div>
</div> <!-- .span12 -->
</div> <!-- .row -->


<div class='row'>
<div class='span12'>

	<form class='form-horizontal' method='POST'>
		{% csrf_token %}

		{% block form_content %}
		{% endblock %}

	</form>

</div> <!-- .span12 -->
</div> <!-- .row -->

{% endblock %}

