{% extends 'pages/members/resources/base.html' %}

{% block add_description %}Delete MX record{% endblock %}

{% block form_content %}

		<fieldset>
			<legend>Delete MX record</legend>

			<div class='control-group'>
				<div class='controls'>
					<div>Are you sure you'd like to delete this record?</div>
				</div>
			</div>

			<div class='control-group'>
				<label class='control-label'>Mail Server</label>
				<div class='controls'>
					<input type='text' class='input-xlarge' name='name' value='{{ resource.name }}' disabled='disabled' >
				</div>
			</div>

			<div class='control-group'>
				<label class='control-label'>Preference</label>
				<div class='controls'>
					<input type='text' class='input-xlarge' name='preference' value='{{ resource.preference }}' disabled='disabled' >
				</div>
			</div>

			<div class='control-group'>
				<label class='control-label'>Subdomain</label>
				<div class='controls'>
					<input type='text' class='input-xlarge' name='value' value='{{ resource.value }}' disabled='disabled' >
				</div>
			</div>

	
			<div class='control-group'>
				<label class='control-label'>TTL</label>
				<div class='controls'>
					{% include 'pages/members/support/ttl_select.html' with addclass='input-xlarge' addattr='disabled="disabled"' name='ttl' val=resource.ttl %}
				</div>
			</div>

			<div class='control-group'>
				<div class='controls'>
					<button type='submit' class='btn btn-danger' >Yes, I am sure &raquo;</button>
					<a href='{% url 'goji-domain' domain.name %}' class='btn btn-link' >Cancel</a>
				</div>
			</div>
		</fieldset>

{% endblock %}

