{% extends 'pages/members/resources/base.html' %}

{% block add_description %}Edit MX record{% endblock %}

{% block form_content %}

		<fieldset>
			<legend>Edit MX record</legend>

			{% include 'pages/support/message_box.html' %}

			<div class='control-group'>
				<label class='control-label'>Mail Server</label>
				<div class='controls'>
					<input type='text' class='input-xlarge' name='name' value='{{ resource.name }}'>
				</div>
			</div>

			<div class='control-group'>
				<label class='control-label'>Preference</label>
				<div class='controls'>
					<input type='text' class='input-xlarge' name='preference' value='{{ resource.preference }}'>
				</div>
			</div>

			<div class='control-group'>
				<label class='control-label'>Subdomain</label>
				<div class='controls'>
					<input type='text' class='input-xlarge' name='value' value='{{ resource.value }}'>
				</div>
			</div>

	
			<div class='control-group'>
				<label class='control-label'>TTL</label>
				<div class='controls'>
					{% include 'pages/members/support/ttl_select.html' with addclass='input-xlarge' name='ttl' val=resource.ttl %}
				</div>
			</div>

			<div class='control-group'>
				<div class='controls'>
					<button type='submit' class='btn btn-primary' >Update record &raquo;</button>
					<a href='{% url 'goji-domain' domain.name %}' class='btn btn-link' >Cancel</a>
				</div>
			</div>
		</fieldset>

{% endblock %}

