{% extends 'pages/members/resources/base.html' %}

{% block add_description %}Add an SRV record{% endblock %}

{% block form_content %}

		<fieldset>
			<legend>Add an SRV record</legend>

			{% include 'pages/support/message_box.html' %}

			<div class='control-group'>
				<label class='control-label'>Service</label>
				<div class='controls'>
					<input type='text' class='input-xlarge' name='name'>
				</div>
			</div>

			<div class='control-group'>
				<label class='control-label'>Protocol</label>
				<div class='controls'>
					<select name='protocol'>
						<option value='1'>TCP</option>
						<option value='2'>UDP</option>
						<option value='3'>XMPP</option>
						<option value='4'>TLS</option>
					</select>
				</div>
			</div>

			<div class='control-group'>
				<label class='control-label'>Target</label>
				<div class='controls'>
					<input type='text' class='input-xlarge' name='value' value='{{ domain.name }}'>
				</div>
			</div>

			<div class='control-group'>
				<label class='control-label'>Priority</label>
				<div class='controls'>
					<input type='text' class='input-small' name='preference' value='10'>
				</div>
			</div>

			<div class='control-group'>
				<label class='control-label'>Weight</label>
				<div class='controls'>
					<input type='text' class='input-small' name='weight' value='5'>
				</div>
			</div>

			<div class='control-group'>
				<label class='control-label'>Port</label>
				<div class='controls'>
					<input type='text' class='input-small' name='port' value='80'>
				</div>
			</div>

			<div class='control-group'>
				<label class='control-label'>TTL</label>
				<div class='controls'>
					{% include 'pages/members/support/ttl_select.html' with addclass='input-xlarge' name='ttl' %}
				</div>
			</div>

			<div class='control-group'>
				<div class='controls'>
					<button type='submit' class='btn btn-primary' >Add an SRV record &raquo;</button>
					<a href='{% url goji-domain domain.name %}' class='btn btn-link' >Cancel</a>
				</div>
			</div>
		</fieldset>

{% endblock %}

