{% extends 'pages/base.html' %}

{% block content %}

<table class='table entryTable'>
	<thead>
		<tr>
			<th>Domain Zone</th>
			<th>Type</th>
			<th>Last Modified</th>
			<th>Status</th>
			<th>Options</th>
		</tr>
	</thead>
	<tbody>
		{% for domain in list.all %}
		<tr>
			<td><a href='{% url dna-domain domain.name %}'>{{ domain.name }}</a></td>
			<td>Master</td>
			<td>Today</td>
			<td>ACTIVE</td>
			<td>
				<a href='{% url dna-domain domain.name %}'>Edit</a>
				|
				<a href='{% url dna-domain-delete domain.name %}'>Remove</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<td colspan='5'>
				<a href='{% url dna-domain-clone %}'>Clone an existing zone</a> | <a href='{% url dna-domain-add %}'>Add a domain zone</a>
			</td>
		</tr>
	</tfoot>
</table>

{% endblock %}

