<div class='footer'>
	<div class='container'>
		<div class='row'>
			<div class='span2'>
				<ul>
					<li>About</li>
					<li><a href=''>About Us</a></li>
					<li><a href=''>Legal</a></li>
					<li><a href=''>Contact Us</a></li>
					<li>&nbsp;</li>
				</ul>
			</div>
			<div class='span2'>
				<ul>
					<li>Sign Up</li>
					<li><a href=''>Free Signup</a></li>
					<li><a href=''>Pricing</a></li>
					<li><a href=''>Login</a></li>
					<li>&nbsp;</li>
				</ul>
			</div>
			<div class='offset3 span5' style='
				font-size: 10pt;
			'>
				DNA is a service offered by SMK Software CC.<br/>
				Copyright &copy; {% now "Y" %} SMK Software CC<br/>
				All Rights Reserved.<br/>
			</div>
		</div> <!-- .row -->
	</div> <!-- .container -->
</div> <!-- .footer -->
