{% extends 'pages/members/base.html' %}

{% block content %}

<div class='row'>
<div class='span12'>
	<div class='gas_heading'>
		<span class='l1'><a href='{% url goji-domain-list %}'>Your Zones</a></span>
		<span class='l2'> &gt; <a href='{% url goji-domain-add %}'>Clone Zone</a></span>
	</div>
</div> <!-- .span12 -->
</div> <!-- .row -->


<div class='row'>
<div class='span12'>

	<form class='form-horizontal' method='POST'>
		{% csrf_token %}

		<fieldset>
			<legend>Clone Zone</legend>

			<div class='control-group'>
				<label class='control-label'>Clone this zone</label>
				<div class='controls'>
					<select name='source' class='input-xlarge'>
						{% for domain in list %}
						<option value='{{ domain.name }}'>{{ domain.name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div class='control-group'>
				<label class='control-label'>Into this zone</label>
				<div class='controls'>
					<input type='text' class='input-xlarge' name='target'>
				</div>
			</div>

			<div class='control-group'>
				<div class='controls'>
					<input type='checkbox' name='replace' checked='checked'> Search for the old zone name in the records and replace occurrences with the new zone name?
				</div>
			</div>


			<div class='control-group'>
				<div class='controls'>
					<button type='submit' class='btn btn-primary' >Clone Zone &raquo;</button>
					<a href='{% url goji-domain-list %}' class='btn btn-link' >Cancel</a>
				</div>
			</div>
		</fieldset>



	</form>

</div> <!-- .span12 -->
</div> <!-- .row -->

{% endblock %}


