{% extends 'pages/members/base.html' %}

{% block content %}

<div class='row'>
<div class='span12'>
	<div class='gas_heading'>
		<span class='l1'><a href='{% url goji-domain-list %}'>Your Zones</a></span>
		<span class='l2'> &gt; <a href='{% url goji-domain-add %}'>Add a Master Zone</a></span>
	</div>
</div> <!-- .span12 -->
</div> <!-- .row -->


<div class='row'>
<div class='span12'>

	<form class='form-horizontal' method='POST'>
		{% csrf_token %}

		<fieldset>
			<legend>Add a Master Zone</legend>

			<div class='control-group'>
				<label class='control-label'>Domain</label>
				<div class='controls'>
					<input type='text' class='input-xlarge' name='domain'>
				</div>
			</div>

			<div class='control-group'>
				<label class='control-label'>SOA Email</label>
				<div class='controls'>
					<input type='text' class='input-xlarge' name='email'>
				</div>
			</div>

			<div class='control-group'>
				<div class='controls'>
					<button type='submit' class='btn btn-primary' >Add a Master Zone &raquo;</button>
					<a href='{% url goji-domain-list %}' class='btn btn-link' >Cancel</a>
				</div>
			</div>
		</fieldset>



	</form>

</div> <!-- .span12 -->
</div> <!-- .row -->

{% endblock %}

