{% extends 'pages/public/base.html' %}


{% block content %}

<div class='row'>
	<div class='span12'>
		<h1>Contact Us</h1>
	</div>
</div>

<div class='row'>

	<div class='span7'>
		{% include 'pages/support/message_box.html' %}

		<p>
		</p>

		<form class="form-horizontal" action="" method="POST">
		{% csrf_token %}


			<div class="control-group {% if form.firstname.errors %}error{% endif %}">
				<label class="control-label" for="firstname">First name</label>
				<div class="controls">
					<input type="text" class='input-xlarge' name="firstname" autocomplete="off"  value="{%if form.lastname.value %}{{ form.firstname.value }}{%endif%}" />
					{% include 'pages/support/form_field_error.html' with comp=form.firstname %}
				</div>
			</div>

			<div class="control-group {% if form.lastname.errors %}error{% endif %}">
				<label class="control-label" for="lastname">Last name</label>
				<div class="controls">
					<input type="text" class='input-xlarge' name="lastname" autocomplete="off" value="{%if form.lastname.value %}{{ form.lastname.value }}{%endif%}" />
					{% include 'pages/support/form_field_error.html' with comp=form.lastname %}
				</div>
			</div>

			<div class="control-group {% if form.email.errors %}error{% endif %}">
				<label class="control-label" for="email">Email Address</label>
				<div class="controls">
					<input type="text" class='input-xlarge' name="email" autocomplete="off" value="{%if form.email.value %}{{ form.email.value }}{% endif %}" />

					{% include 'pages/support/form_field_error.html' with comp=form.email %}
				</div>
			</div>

			<div class="control-group {% if form.comment.errors %}error{% endif %}">
				<label class="control-label" for="lastname">Comment</label>
				<div class="controls">
					<textarea name="comment" class='input-xlarge' autocomplete="off" value="{%if form.comment.value %}{{ form.comment.value }}{%endif%}" rows="14"></textarea>
					{% include 'pages/support/form_field_error.html' with comp=form.comment %}

					<br /><br />

					<label><input type='checkbox' name='sendself' /> Send a copy to yourself at the same time.</label>
				</div>
			</div>



			<div class="control-group {% if form.comment.errors %}error{% endif %}">
				<div class="controls">
					<button type="submit" class="btn btn-primary">Send the email &raquo;</button>
				</div>
			</div>

		</form>
	</div> <!-- .span7 -->

	<div class='span5'>
		&nbsp;
	</div>

</div>

{% endblock %}

