{% extends 'pages/public/base.html' %}


{% block content %}

<div class='row'>
	<div class='span12'>
		<h1>Features</h1>
	</div>
</div>


<div class="row">
	<div class="span4">
		<h3>Company</h3>
		<p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
	</div>
	<div class="span4">
		<h3>Company</h3>
		<p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
	</div>
</div>

{% endblock %}

