{% extends 'pages/public/base.html' %}


{% block content %}

<div class='row'>
	<div class='span12'>
		<h1>Features</h1>
	</div>
</div>


<div class="row">
	<div class="span4">

		<ul>
			<li>Unlimited domain hosting</li>
			<li>Simple web interface for users to update/change DNS records</li>
			<li>Record types: SOA, NS, A, AAAA, CNAME, MX, TXT, SRV</li>
			<li>Unlimited subdomain hosting</li>
			<li>Configurable TTL values (5 min to 4 weeks)</li>
			<li>IPv6 support</li>
			<li>Nameservers refresh every 10 minutes</li>
		</ul>

	</div>
</div>

{% endblock %}

