{% extends 'pages/public/base.html' %}


{% block content %}

<div class="row">
	<div class="span12">
		<h1 class='page-header'>Legal</h1>


		<h2>Disclaimers</h2>

		<ol>
			<li>You use this service at your own risk.</li>

			<li>The GojiDNS service is provided on a best-effort basis and
			nothing is guaranteed. That includes uptime, service, nor the
			integrity and accuracy of your data. You can't hold us
			responsible for	any losses resulting from using this service.
			</li>
		</ol>

		<h2>Privacy</h2>

		<ol>
			<li>Only the information that you (or an admin on your account)
			have specifically shared through your settings in
			GojiDNS will be shared with other parties. (DNS entries, for
			example)
			</li>

			<li>Any other information about you will not be given to any
			third parties nor will third parties be provided access,
			direct or indirect, to your information.</li>

			<li>We won't send you any unsolicited emails except those
			which arise through the normal use of the service.</li>
			
			<li>We won't send you any unsolicited emails on behalf of
			third parties.</li>

			<li>We log all activities on your account and this includes
			IP address, actions taken and time of events but can include
			other things which are relevant.
			</li>

			<li>We keep or can keep all normal web server logs, emails and
			email logs and logs of any other normal activities on the site
			and anything else that arises through the normal use of our
			site.
			</li>

			<li>We also reserve the right to analyze your activity, usage
			and data stored on the site to provide a better service
			and improve the site for both us and the users.
			</li>

			<li>Some of the results of analysis may be made public but
			never in a way which can identify individual users. For example,
			we will say stuff like '80% of our users like to do this or that'
			or 'We have a satisfaction percentage of 35%'.
			</li>
		</ol>

		<h2>About the Service and the Company</h2>

		<ol>
			<li>GojiDNS is a service which is being offered
			by SMK Software CC.</li>

			<li>SMK Software CC is a legally registered close corporation
			in the Republic of South Africa. (Registration# 2009/102185/23)</li>

			<li>More information about SMK Software CC can be found at the
			main website: <a href='http://www.smksoftware.com/'>www.smksoftware.com</a></li>
		</ol>

	</div>
</div>

{% endblock %}

