{% extends 'pages/public/base.html' %}


{% block content %}

<div class="row">
	<div class="span12">
		<h1 class='page-header'>Legal</h1>


		<h2>Disclaimers</h2>

		<ol>
			<li>The GojiDNS service is in beta testing and, as such,
			we can't guarantee uptime, access nor the integrity and
			accuracy of your data. Whilst that sounds
			bad, we do our best to make sure your data is available and
			valid all the time - it's obviously in our best interest.</li>

			<li>You use this service at your own risk whilst it is in
			beta testing.</li>
		</ol>

		<h2>Billing</h2>

		<ol>
			<li>Billing is done via the company SMK Software CC and
			your credit card statement will reflect that information.</li>
		</ol>

		<h2>Privacy</h2>

		<ol>
			<li>Only the information that you (or an admin on your account)
			have specifically shared -
			such as your company profile, personal profile, company
			access, project access, etc - through your settings in
			GojiDNS will be shared with other parties.
			</li>

			<li>Any other information about you will not be given to any
			third parties nor will third parties be provided access,
			direct or indirect, to your information.</li>

			<li>We won't send you any unsolicited emails except those
			which arise through the normal use of the service.</li>
			
			<li>We won't send you any unsolicited emails on behalf of
			third parties.</li>

			<li>We log all activities on your account and this includes
			IP address, actions taken and time of events but can include
			other things.
			</li>

			<li>We keep or can keep all normal web server logs, emails and
			email logs and logs of any other normal activities on the site
			and anything else that arises through the normal use of our
			site.
			</li>

			<li>We also reserve the right to analyze your activity, usage
			and data stored on the site to provide a better service
			and improve the site for both us and the users.
			</li>

			<li>Some of the results of analysis may be made public but
			never in a way which can identify individual users. For example,
			we will say stuff like '80% of our users like the the task
			management interface' or 'We have a satisfaction percentage
			of 35%'.
			</li>
		</ol>

		<h2>About the Service and the Company</h2>

		<ol>
			<li>GojiDNS is a service which is being offered
			by SMK Software CC.</li>

			<li>SMK Software CC is a legally registered close corporation
			in the Republic of South Africa. (Registration# 2009/102185/23)</li>

			<li>More information about SMK Software CC can be found at the
			main website: <a href='http://www.smksoftware.com/'>www.smksoftware.com</a></li>
		</ol>

	</div>
</div>

{% endblock %}

